<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dailymotion Camera</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <!-- PWA manifest -->
  <link rel="manifest" href="/manifest.json">
  <meta name="background-color" content="#ff">
  <meta name="theme-color" content="#0066DC">
</head>
<body>
  <div class="view record-view">
    <header class="record-view__header">
      <h1 class="header__content header__title">
        <img src="images/logo-big.svg" class="header__title__icon" alt="dailymotion"/><span class="header__title__text">Camcorder</span>
      </h1>
      <button id="showListBtn" class="header__button header__right" >
        <svg class="header__button__icon">
           <use xlink:href="images/icons.svg#dmp_ico-list"></use>
        </svg>
        <span class="visuallyhidden">Recordings</span>
      </button>
    </header>
    <main class="record-view__main">
      <video muted></video>
    </main>
    <footer class="record-view__footer">
      <span class="footer__content">
        <button id="recordBtn" class="footer__button record-btn" disabled>
          <svg class="button__icon--record">
            <use xlink:href="images/icons.svg#dmp_ico-camera"></use>
          </svg>
        </button>
      </span>
    </footer>
  </div>

  <div class="view list-view hidden">
    <header class="list-view__header">
      <button id="listViewBackBtn" class="header__button header__left">
        <svg class="header__button__icon">
           <use xlink:href="images/icons.svg#dmp_ico-left"></use>
        </svg>
        <span class="visuallyhidden">Back</span>
      </button>
      <h1 class="header__content header__title">Recordings</h1>
      <button id="loginBtn" class="header__button header__right">
        <svg class="header__button__icon">
           <use xlink:href="images/icons.svg#dmp_ico-enter"></use>
        </svg>
        <span class="pad-l">Log In</span>
      </button>
      <button id="logoutBtn" class="header__button header__right hidden">
        <svg class="header__button__icon">
           <use xlink:href="images/icons.svg#dmp_ico-exit"></use>
        </svg>
        <span class="pad-l">Log Out</span>
      </button>
    </header>
    <main class="list-view__main">
      <div class="list-view__container">
        <ul class="list-view__list">
        </ul>
      </div>
    </main>
  </div>

  <div class="view watch-view hidden">
    <header class="watch-view__header">
      <button id="watchViewBackBtn" class="header__button header__left">
        <svg class="header__button__icon">
           <use xlink:href="images/icons.svg#dmp_ico-left"></use>
        </svg>
        <span class="visuallyhidden">Back</span>
      </button>
      <h1 class="header__content header__title">Watch Recording</h1>
    </header>
    <main class="watch-view__main">
      <video loop></video>
    </main>
  </div>
</body>
</html>